<h1>Меню кафе «Гурман» на <%=Date.today%></h1>
<p/>Служба доставки по городу Балаково.

<p/>Доставка еды из кафе на дом и в офис, в любое время.

<p/>Если Вы хотите сэкономить время и успеть больше, то делайте заказ прямо сейчас и получайте 15% стоимости заказа на Ваш накопительный счет.

<p/>Заказать еду на любой день можно на этой странице (круглосуточно) или по телефонам 68-36-15, +7-927-225-36-15 с 8:00 до 22:00.

<p/>Заказ на сегодня можно сделать до 22:00.

<p/>Внимание! Хотите покупать еду с неслыханной скидкой? Или даже БЕСПЛАТНО — всё зависит от Вас! Узнайте подробности <%= link_to 'здесь', stocks_path %>!

<div align="center">
<% for product in @products -%>
<div class='product'>
  
  <h4 class="product_name"><%=h product.name %></h4>
        	<%= link_to image_tag(product.photo.url(:medium)), product, :rel=>"facebox" %>
        	<h4>Цена: <%= number_to_currency(product.price, :unit => 'руб', :format => "%n %u") %></h4>
			
			<% form_remote_tag :url => { :action => :add_to_cart, :id => product } do %>
				<%= submit_tag "Добавить в корзину" %>
			<% end %>
                <br/>
</div>
<% end %>
</div>