<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Доставка обедов домой и офис Балаково</title>
        <%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'facebox.js' %>
	<%= stylesheet_link_tag 'planetasmile' %>
        <%= stylesheet_link_tag 'facebox' %>
</head>
<body>
<div align='center'>
<table>
  <tr>
		<td>
		<%= yield %>
        </td>
    </tr>

</table>
<div id='footer'>

</div>
</div>
</body>
</html>